.detail-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  gap: 20px;
}

.detail-poster img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.detail-info {
  max-width: 700px;
}

.detail-info h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.detail-buttons button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.detail-buttons button:hover {
  background-color: #f40612;
}
